

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-header">CATALOG</li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Products")">
                <i class="nav-icon fas fa-store"></i>
                <p>
                    Products
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Categories")">
                <i class="nav-icon fas fa-list-ul"></i>
                <p>
                    Categories List
                </p>
            </a>
        </li>

        <li class="nav-header">Management</li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Companies")">
                <i class="nav-icon fas fa-business-time"></i>
                <p>
                    Company Management
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("listaclientes", "Companies")">
                <i class="nav-icon fas fa-business-time"></i>
                <p>
                    Clients Management
                </p>
            </a>
        </li>
    </ul>
</nav>
