<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-header">ORDERS</li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Categories")">
                <i class="nav-icon fas fa-list-ul"></i>
                <p>
                    Orders List
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Products")">
                <i class="nav-icon fas fa-store"></i>
                <p>
                    Confirm an order
                </p>
            </a>
        </li>

        <li class="nav-header">PROMOTIONS</li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Products")">
                <i class="nav-icon fas fa-store"></i>
                <p>
                    Products promotions
                </p>
            </a>
        </li>
    </ul>
</nav>
