@model eShopping.Models.Category

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome_Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome_Categoria)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
