@model eShopping.Models.IndexViewModel



<div class="content-header">
    <div class="container-fluid">
        <div class="jumbotron">
            @if (Request.IsAuthenticated)
            {
                <h1>Welcome to your eShopping Account @User.Identity.Name</h1>
            }
            else
            {
                <h1>Welcome to eShopping</h1>
            }

        </div>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <p class="text-success">@ViewBag.StatusMessage</p>
        @if (Request.IsAuthenticated) { 
        <h5>Change your account settings</h5>
        <hr />
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>

        </dl>
        }
    </div>
</div>