@model eShopping.Models.IndexViewModel
@{
    ViewBag.Title = "Manage Account";
}

<div class="content">
    <div class="container-fluid">
        <p class="text-success">@ViewBag.StatusMessage</p>
        <h5>Change your account settings</h5>
        <hr />
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>

        </dl>
    </div>
</div>